@font-face {
  font-family: 'lanting';
  src: url("/fonts/lanting/lanting.eot"); /* IE9 */
  src: url("/fonts/lanting/lanting.eot?#iefix") format('embedded-opentype'), url("/fonts/lanting/lanting.woff2") format('woff2'), url("/fonts/lanting/lanting.woff") format('woff'), url("/fonts/lanting/lanting.ttf") format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Didot';
  src: url("/fonts/Didot/GFSDidot-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura';
  src: url("/fonts/Futura/FuturaCyrillicBook.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas_Neue';
  src: url("/fonts/Bebas_Neue/BebasNeue-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'new-caledonia';
  src: url("/fonts/new-caledonia/NewCaledoniaRg.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'new-caledonia';
  src: url("/fonts/new-caledonia/NewCaledoniaRgIt.woff2") format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'new-caledonia';
  src: url("/fonts/new-caledonia/NewCaledoniaBold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'new-caledonia';
  src: url("/fonts/new-caledonia/NewCaledoniaBoldIt.woff2") format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'eb-garamond';
  src: url("/fonts/EB-Garamond/EBGaramond-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'eb-garamond';
  src: url("/fonts/EB-Garamond/EBGaramond-Italic.woff2") format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'eb-garamond';
  src: url("/fonts/EB-Garamond/EBGaramond-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'eb-garamond';
  src: url("/fonts/EB-Garamond/EBGaramond-BoldItalic.woff2") format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cormorant-Garamond';
  src: url("/fonts/Cormorant-Garamond/CormorantGaramond-VariableFont_wght.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cormorant-Garamond';
  src: url("/fonts/Cormorant-Garamond/CormorantGaramond-Italic-VariableFont_wght.woff2") format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas_thin';
  src: url("/fonts/Bebas_thin/BebasNeue-Book.woff2") format('woff2');
  font-weight: 300;
  font-style: book;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas_thin';
  src: url("/fonts/Bebas_thin/BebasNeue-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Berkeley';
  src: url("/fonts/ITC_Ber/ITC_Berkeley_Oldstyle_Bold.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gill Sans';
  src: url("/fonts/Gill Sans/Gill Sans.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gill Sans';
  src: url("/fonts/Gill Sans/Gill Sans Medium.woff2") format('woff2');
  font-weight: 600;
  font-style: Medium;
  font-display: swap;
}
